.quiqqer-order-button-add {
    float: left;
    overflow: hidden;
    padding: 9px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quiqqer-order-button-add-quantity {
    margin-right: 10px;
    display: flex;
}

.quiqqer-order-button-add input {
    line-height: 26px;
    text-align: center;
    width: 60px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.quiqqer-order-button-add-quantity-decrease {
    margin-right: 5px;
}

.quiqqer-order-button-add-quantity-increase {
    margin-left: 5px;
}

.quiqqer-order-button-add input::-webkit-outer-spin-button,
.quiqqer-order-button-add input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
