.quiqqer-order-basket-isEmpty {
    padding: 40px 0;
    text-align: center;
}

.quiqqer-order-ordering-step .articles-sum {
    position: relative;
    top: -1px;
}

.quiqqer-order-btn-submit {
    color: #e8f0de;
    border-color: #64991e;
    background: #75b947;
}

.quiqqer-order-btn-submit:hover {
    background: #538018;
}

.offer-original-price {
    clear: both;
    display: block;
    font-size: 80%;
    text-decoration: line-through;
}
