.quiqqer-order-step-checkout-invoiceAddress,
.quiqqer-order-step-checkout-deliveryAddress,
.quiqqer-order-step-checkout-payments,
.quiqqer-order-step-checkout-article {
    margin: 2rem 0;
}

.quiqqer-order-step-checkout header {
    margin-bottom: 1rem;
}

.quiqqer-order-step-checkout-payments {
    display: grid;
    gap: 1rem 2rem;
    grid-template-areas:
            "header header"
            "payment shipping";
    grid-template-columns: 1fr 1fr;
}

.quiqqer-order-step-checkout-payments > h2 {
    grid-area: header;
}

.quiqqer-order-step-checkout-shipping {
    grid-area: shipping;
}

.quiqqer-order-step-checkout-payments-payment {
    grid-area: payment;
}

.quiqqer-order-step-checkout-shipping img,
.quiqqer-order-step-checkout-payments-payment img {
    max-height: 100px;
    max-width: 100%;
}

.quiqqer-order-step-checkout-shipping-title,
.quiqqer-order-step-checkout-payments-payment-title {
    font-weight: bold;
    margin-top: 0.5rem;
    display: block;
}

.quiqqer-order-step-checkout-notice a {
    display: contents;
}

@media (max-width: 768px) {
    .articles-article-header-pos {
        width: 40px;
    }

    .quiqqer-order-step-checkout-invoiceAddress,
    .quiqqer-order-step-checkout-payments,
    .quiqqer-order-step-checkout-payments-payment,
    .quiqqer-order-step-checkout-shipping {
        clear: both;
        width: 100% !important;
    }

    .quiqqer-order-step-checkout-shipping label,
    .quiqqer-order-step-checkout-notice label {
        font-size: 12px;
    }

    .quiqqer-order-step-checkout input[name="termsAndConditions"] {
        float: left;
        margin-bottom: 20px;
    }

    .articles-article table,
    .articles-article tbody,
    .articles-article th,
    .articles-article td,
    .articles-article tr {
        display: block;
        overflow: hidden;
    }

    .articles-article thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .articles-article td:before {
        content: attr(data-label);
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: left;
        width: 100px;
    }

    .articles-article td {
        text-align: left;
        padding-bottom: 5px;
        padding-left: 100px;
        position: relative;
        width: initial;
    }
}