
.quiqqer-order-step-checkout header {
    margin-bottom: 20px;
}

.quiqqer-order-step-checkout-invoiceAddress,
.quiqqer-order-step-checkout-payments,
.quiqqer-order-step-checkout-article {
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.quiqqer-order-step-checkout-invoiceAddress {
    margin-top: 20px;
}

.quiqqer-order-step-checkout-payments-payment img {
    float: left;
    max-width: 100%;
    width: 200px;
}

.quiqqer-order-step-checkout-payments-payment span {
    float: left;
}

.quiqqer-order-step-checkout-payments-payment-title {
    clear: both;
    font-weight: bold;
    margin-top: 10px;
}

.quiqqer-order-step-checkout-payments-payment-description {
    clear: both;
}

.quiqqer-order-step-checkout-payments-payment-description p {
    margin: 5px 0 0 0;
    padding: 0;
}

.quiqqer-order-customerData-display-customerNo span,
.quiqqer-order-customerData-display-eMail span,
.quiqqer-order-customerData-display-tel span {
    float: left;
    width: 50%;
}

@media (max-width: 768px) {
    .articles-article-header-pos {
        width: 40px;
    }

    .quiqqer-order-step-checkout-invoiceAddress,
    .quiqqer-order-step-checkout-payments {
        clear: both;
        width: 100% !important;
    }

    .quiqqer-order-step-checkout-notice label {
        font-size: 12px;
    }

    .quiqqer-order-step-checkout input[name="termsAndConditions"] {
        float: left;
        margin-bottom: 20px;
    }

    .articles-article table,
    .articles-article tbody,
    .articles-article th,
    .articles-article td,
    .articles-article tr {
        display: block;
        overflow: hidden;
    }

    .articles-article thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .articles-article td:before {
        content: attr(data-label);
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: left;
        width: 100px;
    }

    .articles-article td {
        text-align: left;
        padding-bottom: 5px;
        padding-left: 100px;
        position: relative;
        width: initial;
    }
}