.quiqqer-order-customerData-container {
    display: flex;
    gap: 1rem 2rem;
}

.quiqqer-order-customerData,
.quiqqer-order-customerData-comment {
    flex: 1;
}

.quiqqer-order-customerData-comment label {
    clear: both;
    margin-bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-customerData-container {
        flex-direction: column;
    }
}

/* customer data */
:is(.quiqqer-order-customerData-display-customerNo, .quiqqer-order-customerData-display-eMail, .quiqqer-order-customerData-display-tel){
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
}

:is(.quiqqer-order-customerData-display-customerNo, .quiqqer-order-customerData-display-eMail, .quiqqer-order-customerData-display-tel) > .text-muted {
    width: 12rem;
}

@media screen and (max-width: 767px) {
    :is(.quiqqer-order-customerData-display-customerNo, .quiqqer-order-customerData-display-eMail, .quiqqer-order-customerData-display-tel) > .text-muted {
        width: initial;
        margin-right: 0.5em;
    }
}

/** address data
 ========================================== */

.quiqqer-order-customerData header {
    width: 100%;
}

.quiqqer-order-customerData header h1 {
    display: flex;
    align-items: center;
}

.quiqqer-order-customerData-title {
    margin-right: 1rem;
}


.quiqqer-order-customerData label {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.quiqqer-order-customerData label span {
    width: 40%;
    flex-grow: 1;
}

.quiqqer-order-customerData label input,
.quiqqer-order-customerData label select,
.quiqqer-order-customerData label textarea,
.quiqqer-order-customerData .qui-select {
    width: 60%;
    flex-grow: 1;
}

@media screen and (max-width: 500px) {
    .quiqqer-order-customerData label {
        flex-direction: column;
    }

    .quiqqer-order-customerData label span,
    .quiqqer-order-customerData label input,
    .quiqqer-order-customerData label select,
    .quiqqer-order-customerData label textarea,
    .quiqqer-order-customerData .qui-select {
        width: 100%;
    }
}

.quiqqer-order-customerData label [name="street"] {
    width: 45%;
}

.quiqqer-order-customerData label [name="street_number"] {
    margin-left: 10px;
    width: calc(15% - 10px);
}

.quiqqer-order-customerData .qui-select,
.quiqqer-order-customerData .qui-select .drop-icon {
    height: 38px;
}

.quiqqer-order-customerData .qui-select .text {
    line-height: 38px;
}

.quiqqer-order-customerData .qui-select-search {
    border: none;
    outline: none;
}

.quiqqer-order-customerData-edit {
    position: relative;
    overflow: auto;
}

button.quiqqer-order-customerData-edit-close {
    text-align: center;
}

button.quiqqer-order-customerData-edit-close > .fa {
    margin: 0;
}

.quiqqer-order-customerData-edit [name="save-edit"] {
    margin-left: 40%;
    width: 60%;
}

.quiqqer-order-customerData-display {
    position: relative;
}

.quiqqer-order-customerData-display label {
    margin-bottom: 0;
    width: 100%;
}

address {
    font-style: normal;
}

address .adr:not(:last-child) {
    margin-bottom: 0.75rem;
}

address .fa {
    width: 1.5rem;
}

.quiqqer-order-customerData-display-address {
    margin-top: 20px;
}

.quiqqer-order-customerData-display-address-label {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

.quiqqer-order-customerData-edit-vatId {
    position: relative;
}

.quiqqer-order-customerData-tax-validation-loader {
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px !important;
}

.quiqqer-order-customerData .fa-check {
    color: #75b947;
}

.quiqqer-order-customerData [name="open-edit"] {
    margin-left: auto;
}

@media screen and (max-width: 500px) {
    .quiqqer-order-customerData [name="open-edit"] .quiqqer-order-customerData-edit-text {
        display: none;
    }

    .quiqqer-order-customerData [name="open-edit"] .quiqqer-order-customerData-edit-icon {
        margin: 0;
    }
}

.quiqqer-order-customerData-edit [type="submit"] {
    margin-left: 40%;
    width: 60%;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.quiqqer-order-customerData label input:invalid,
.quiqqer-order-customerData label select:invalid,
.quiqqer-order-customerData label textarea:invalid {
    border-color: #d35058;
}

/** comment
 ========================================== */
.quiqqer-order-customerData-comment label span {
    display: block;
    padding: 10px 0;
    width: 100%;
}

.quiqqer-order-customerData-comment-description,
.quiqqer-order-customerData-comment label input,
.quiqqer-order-customerData-comment label textarea {
    width: 100%;
}

.quiqqer-order-customerData-comment label textarea {
    height: 200px;
    padding: 10px;
}

.quiqqer-order-customerData-comment-description {
    margin-bottom: 20px;
}

.quiqqer-order-customerData-requiredFields-message {
    margin-bottom: 20px;
}

.quiqqer-order-customerData-requiredFields-message:hover {
    opacity: 1;
}
