.quiqqer-order-step-processing {
    float: left;
    padding-bottom: 20px;
    width: 100%;
}

.quiqqer-order-step-processing header {
    margin-bottom: 20px;
}

.quiqqer-order-step-processing-description {
    margin-bottom: 20px;
}

.quiqqer-order-processing-payments {
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;
}

.quiqqer-order-processing-payments-message {
    margin-bottom: 20px;
}

.quiqqer-order-processing-payments .quiqqer-order-step-payments {
    padding: 0;
}

.quiqqer-order-processing-payments .quiqqer-order-step-payments header {
    display: none;
}

.quiqqer-order-step-payments .quiqqer-order-step-payments-description {
    margin-bottom: 20px;
}

.quiqqer-order-ordering-buttons-changePayment {
    display: block;
    margin: 0 auto;
}

.quiqqer-order-step-processing [name="change-payment"] {
    float: right;
    margin-top: 10px;
}
