.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-total {
    border-top: 1px solid #DEDEDE;
    float: left;
    margin: 20px 0;
    padding-top: 20px;
    width: 100%;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-total td {
    white-space: nowrap;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-information-payment {
    clear: none;
    float: left;
    width: 50%;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-information-payment-title {
    clear: both;
    margin-top: 10px;
    padding: 0;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-information-payment-description {
    clear: both;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-information-orderData-table {
    clear: both;
    float: right;
    max-width: 100%;
    width: 300px;
}