<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="https://doc.quiqqer.com/xml/quiqqer-quiqqer-events.xsd">
    <event on="onQuiqqerProductsProductViewButtons"
           fire="\QUI\ERP\Order\EventHandling::onQuiqqerProductsProductViewButtons"
    />

    <event on="onRequest"
           fire="\QUI\ERP\Order\EventHandling::onRequest"
    />

    <event on="onPackageSetup"
           fire="\QUI\ERP\Order\EventHandling::onPackageSetup"
    />

    <event on="onTransactionCreate"
           fire="\QUI\ERP\Order\EventHandling::onTransactionCreate"
    />

    <event on="onQuiqqerOrderCreated"
           fire="\QUI\ERP\Order\EventHandling::onQuiqqerOrderCreated"
    />

    <event on="onQuiqqerOrderProcessStatusChange"
           fire="\QUI\ERP\Order\EventHandling::onQuiqqerOrderProcessStatusChange"
    />

    <event on="onQuiqqerInvoiceTemporaryInvoicePostEnd"
           fire="\QUI\ERP\Order\EventHandling::onQuiqqerInvoiceTemporaryInvoicePostEnd"
    />

    <event on="onQuiqqerOrderSuccessful"
           fire="\QUI\ERP\Order\Controls\OrderProcess\CustomerData::onQuiqqerOrderSuccessful"
    />

    <event on="onTransactionStatusChange"
           fire="\QUI\ERP\Order\EventHandling::onTransactionStatusChange"
    />

    <event on="onTemplateGetHeader"
           fire="\QUI\ERP\Order\EventHandling::onTemplateGetHeader"
    />

    <event on="onQuiqqerErpGetCommentsByUser"
           fire="\QUI\ERP\Order\EventHandling::onQuiqqerErpGetCommentsByUser"
    />

    <event on="onQuiqqer::products::product::detail::equipment::buttons"
           fire="\QUI\ERP\Order\EventHandling::onDetailEquipmentButtons"
    />
</events>
