<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings name="ERP">

        <config>
            <section name="order">
                <conf name="failedPaymentProcedure">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>execute</defaultvalue>
                </conf>
                <conf name="prefix">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[%Y-]]></defaultvalue>
                </conf>
                <conf name="autoInvoice">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>onOrder</defaultvalue>
                </conf>
                <conf name="autoInvoicePost">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="sendOrderConfirmation">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue><![CDATA[1]]></defaultvalue>
                </conf>
                <conf name="sendOrderConfirmationToAdmin">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue><![CDATA[1]]></defaultvalue>
                </conf>
                <conf name="sendAdminOrderConfirmation">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue><![CDATA[1]]></defaultvalue>
                </conf>
            </section>

            <section name="paymentsChangeable"/>
        </config>

        <window name="ERP">
            <title>
                <locale group="quiqqer/order" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="order" index="2">
                    <text>
                        <locale group="quiqqer/order" var="window.erp.order.title"/>
                    </text>
                    <icon>fa fa-shopping-basket</icon>

                    <settings title="order" name="order">
                        <title>
                            <locale group="quiqqer/order" var="order.settings.title"/>
                        </title>

                        <select conf="order.failedPaymentProcedure">
                            <text>
                                <locale group="quiqqer/order" var="order.settings.failedPaymentProcedure"/>
                            </text>
                            <option value="execute">
                                <locale group="quiqqer/order" var="order.settings.failedPaymentProcedure,execute"/>
                            </option>
                            <option value="returning">
                                <locale group="quiqqer/order" var="order.settings.failedPaymentProcedure.returning"/>
                            </option>
                        </select>

                        <select conf="order.autoInvoice">
                            <text>
                                <locale group="quiqqer/order" var="order.settings.autoInvoice"/>
                            </text>
                            <option value="noAuto">
                                <locale group="quiqqer/order" var="order.settings.autoInvoice.noAuto"/>
                            </option>
                            <option value="onOrder">
                                <locale group="quiqqer/order" var="order.settings.autoInvoice.onOrder"/>
                            </option>
                            <option value="onPaid">
                                <locale group="quiqqer/order" var="order.settings.autoInvoice.onPaid"/>
                            </option>
                            <option value="byPayment">
                                <locale group="quiqqer/order" var="order.settings.autoInvoice.byPayment"/>
                            </option>
                        </select>

                        <input type="checkbox" conf="order.autoInvoicePost">
                            <text>
                                <locale group="quiqqer/order" var="order.settings.autoInvoicePost"/>
                            </text>
                            <description>
                                <locale group="quiqqer/order"
                                        var="order.settings.autoInvoicePost.description"/>
                            </description>
                        </input>

                        <input type="checkbox" conf="order.sendOrderConfirmation">
                            <text>
                                <locale group="quiqqer/order" var="order.settings.order.sendOrderConfirmation"/>
                            </text>
                            <description>
                                <locale group="quiqqer/order"
                                        var="order.settings.order.sendOrderConfirmation.description"/>
                            </description>
                        </input>

                        <input type="checkbox" conf="order.sendOrderConfirmationToAdmin">
                            <text>
                                <locale group="quiqqer/order" var="order.settings.order.sendOrderConfirmationToAdmin"/>
                            </text>
                            <description>
                                <locale group="quiqqer/order"
                                        var="order.settings.order.sendOrderConfirmationToAdmin.description"/>
                            </description>
                        </input>

                        <input type="checkbox" conf="order.sendAdminOrderConfirmation">
                            <text>
                                <locale group="quiqqer/order" var="order.settings.order.sendAdminOrderConfirmation"/>
                            </text>
                            <description>
                                <locale group="quiqqer/order"
                                        var="order.settings.order.sendAdminOrderConfirmation.description"/>
                            </description>
                        </input>

                        <input type="text" conf="order.prefix">
                            <text>
                                <locale group="quiqqer/order" var="order.settings.order.prefix"/>
                            </text>
                            <description>
                                <locale group="quiqqer/order"
                                        var="order.settings.order.prefix.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="order" name="order">
                        <title>
                            <locale group="quiqqer/order" var="order.settings.paymentsChangeable.title"/>
                        </title>

                        <input type="hidden"
                               data-qui="package/quiqqer/order/bin/backend/controls/settings/Payments"
                               label="false"
                        />
                    </settings>


                    <settings>
                        <title>
                            <locale group="quiqqer/order" var="order.settings.processingStatus.title"/>
                        </title>

                        <input type="hidden"
                               label="false"
                               data-qui="package/quiqqer/order/bin/backend/controls/settings/ProcessingStatus"
                        />
                    </settings>
                </category>
            </categories>
        </window>

    </settings>
</quiqqer>
