.quiqqer-order-window {

}

/** header
 ============================================= */

.quiqqer-order-window-header {
    border-bottom: 1px solid #ddd;
    float: left;
    padding: 15px 20px;
    width: 100%;
}

.quiqqer-order-window-header-text {
    float: left;
    font-size: 24px;
    line-height: 30px;
    width: calc(100% - 40px);
}

@media screen and (max-width: 767px) {
    .quiqqer-order-window-header-text {
        font-size: 22px;
    }
}

.quiqqer-order-window-header-description {
    float: left;
    width: calc(100% - 40px);
}

.quiqqer-order-window-header-text .fa {
    margin-right: 10px;
}

.quiqqer-order-window-header-close {
    cursor: pointer;
    float: left;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 40px;
}

/** content
 ============================================= */

.quiqqer-order-window-container {
    display: none;
    float: left;
    height: calc(100% - 140px);
    opacity: 0;
    overflow: auto;
    padding: 20px;
    position: relative;
    width: 100%;
}

.quiqqer-order-window-container .quiqqer-order-ordering,
.quiqqer-order-window-container [data-qui="package/quiqqer/order/bin/frontend/controls/Ordering"] {
    height: 100%;
}

/******************/
/* Footer buttons */
/******************/
.qui-window-popup-buttons .qui-window-popup-buttons-next,
.qui-window-popup-buttons .qui-window-popup-buttons-order {
    float: right;
}

.quiqqer-order-window .qui-window-popup-buttons {
    border-top: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-window .qui-window-popup-buttons {
        display: flex;
        padding: 10px 0 !important;
    }

    .quiqqer-order-window .qui-window-popup-buttons button {
        width: auto;
        flex-grow: 1;
    }

    /* next button */
    .qui-window-popup-buttons-next {
        order: 2;
    }

    /* previous button */
    .quiqqer-order-window button.qui-window-popup-buttons-previous {
        min-width: 3rem !important;
        order: 1;
        flex-grow: 0;
    }

    .qui-window-popup-buttons-previous .qui-button-text-image {
        margin-right: 0
    }

    .qui-window-popup-buttons-previous .qui-button-text {
        display: none
    }

    /* order button */
    .qui-window-popup-buttons-order {
        order: 3;
    }
}