.quiqqer-order-ordering {
    --_order-listEntry-padding: var(--order-listEntry-padding, 1rem);
    --_order-listEntry-bg: var(--order-listEntry-bg, transparent);
    --_order-listEntry-bg--hover: var(--order-listEntry-bg--hover, #f8f8f8);
    --_order-listEntry-radius: var(--order-listEntry-radius, 0.25rem);
    --_order-listEntry-gap: var(--order-listEntry-gap, 2rem);
    --_order-listEntry-spacing: var(--order-listEntry-spacing, 0.5rem);

    display: block;
    width: 100%;
}

.quiqqer-order-ordering form {
    height: 100%;
}

.quiqqer-order-ordering-message {
    border: 1px solid #D8D8D8;
    color: #606975;
    clear: both;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.quiqqer-order-ordering-message-error {
    background-color: rgb(255, 249, 242);
    color: rgb(211, 0, 0);
}

.quiqqer-order-ordering-message-success {
    background-color: #D9E6C3;
}

.quiqqer-order-ordering-message-info {
    background-color: #CEE6F2;
}

.quiqqer-order-ordering-error {

}

/** processing / time line
 ============================================*/

.quiqqer-order-ordering-timeline {
    margin-bottom: 2rem;
}

.quiqqer-order-ordering-timeline-container > ul {
    padding: 0;
    display: flex;
}

.quiqqer-order-ordering-timeline a {
    text-decoration: none;
    display: inline-block;
    line-height: 1.3;
}

.quiqqer-order-ordering-timeline li {
    cursor: pointer;
    padding: 0;
    height: 100px;
    list-style-type: none;
    position: relative;
    text-align: center;
    flex: 1;
}

.quiqqer-order-ordering-timeline li.active {
    background: transparent;
}

.quiqqer-order-ordering-timeline li .title {
    z-index: 3;
    position: relative;
}

.quiqqer-order-ordering-timeline li .fa {
    background: #fff;
    color: #bebebe;
    font-size: 30px;
    left: calc(50% - 15px);
    position: absolute;
    text-align: center;
    top: calc(50% - 10px);
    width: 20px;
    z-index: 2;
}

.quiqqer-order-ordering-timeline li:after {
    background: #bebebe;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: calc(50% + 5px);
    width: 100%;
    z-index: 1;
}

.quiqqer-order-ordering-timeline li:first-child:after {
    left: 50%;
    width: 50%;
}

.quiqqer-order-ordering-timeline li:last-child:after {
    width: 50%;
}

.quiqqer-order-ordering-timeline li.current:after,
.quiqqer-order-ordering-timeline li.active:after {
    background-color: #75b947;
}

.quiqqer-order-ordering-timeline li.current .fa,
.quiqqer-order-ordering-timeline li.active .fa {
    color: #75b947;
}

.quiqqer-order-ordering-timeline li.current:hover a,
.quiqqer-order-ordering-timeline li.active:hover a,
.quiqqer-order-ordering-timeline li.current:hover .fa,
.quiqqer-order-ordering-timeline li.active:hover .fa {
    color: #519f1d;
}

.quiqqer-order-ordering-timeline li.disabled,
.quiqqer-order-ordering-timeline li.disabled a,
.quiqqer-order-ordering-timeline li.disabled span {
    cursor: default;
}

.quiqqer-order-ordering-timeline li.active.disabled:hover a,
.quiqqer-order-ordering-timeline li.active.disabled:hover .fa,
.quiqqer-order-ordering-timeline li.current.disabled:hover a,
.quiqqer-order-ordering-timeline li.current.disabled:hover .fa {
    color: #75b947;
}

.quiqqer-order-ordering-timeline.disabled,
.quiqqer-order-ordering-timeline.disabled li,
.quiqqer-order-ordering-timeline.disabled a {
    cursor: not-allowed;
    color: #ababab;
}

.quiqqer-order-ordering-timeline.disabled li:after,
.quiqqer-order-ordering-timeline.disabled span.fa {
    opacity: 0.75;
}

@media (max-width: 768px) {
    .quiqqer-order-ordering-timeline {
        margin-bottom: 1rem;
        overflow: auto;
        white-space: nowrap;
    }

    .quiqqer-order-ordering-timeline-container {
        float: left;
        height: 70px;
        overflow: hidden;
        min-width: 100%;
    }

    .quiqqer-order-ordering-timeline li {
        display: inline-block;
        float: none;
        height: 70px;
        width: 150px;
    }

    .quiqqer-order-ordering-timeline-container li .title {
        font-size: 13px;
    }

    .quiqqer-order-ordering-timeline li .fa {
        font-size: 24px;
        top: calc(50% - 6px);
    }
}

/** current step
 ============================================*/

.quiqqer-order-ordering-step {
    display: block;
    margin-bottom: 20px;
    position: relative;
}

/** step
 ============================================*/

.quiqqer-order-ordering-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.quiqqer-order-ordering-buttons-backToShop,
.quiqqer-order-ordering-buttons-previous {
    margin-right: auto;
}

.quiqqer-order-ordering-buttons-backToShop {
    color: inherit;
}

.quiqqer-order-basket-articles {
    width: 100%;
}

.quiqqer-order-basket-total {
    margin-top: 20px;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-ordering-buttons {
        flex-direction: column;
    }

    .quiqqer-order-ordering-buttons-next {
        order: 1;
    }

    .quiqqer-order-ordering-buttons-changePayment,
    .quiqqer-order-ordering-buttons-previous {
        order: 2;
    }

    /*
      1. place "back to shop" button at the end
     */
    .quiqqer-order-ordering-buttons-backToShop {
        order: 10; /* 1 */
        margin-top: 0.5rem;
    }
}

/*******************************/
/* nobody login / registration */
/*******************************/
.quiqqer-order-ordering-nobody {
    max-width: 1000px;
    margin-inline: auto;
}

.quiqqer-order-ordering-nobody__intro {
    text-align: center;
    margin-bottom: 6rem;
}

.quiqqer-order-ordering-nobody__introTitle,
.quiqqer-order-ordering-nobody__introDesc {
    max-width: 60ch;
    margin-inline: auto;
}

/* tabs */
.quiqqer-order-ordering-nobody__tabs {
    display: flex;
    gap: 4rem;
}

/* aside */
.quiqqer-order-ordering-nobody-tabs__aside {
    width: min(30%, 300px);
}

.quiqqer-order-ordering-nobody-tabNav {
    list-style: none;
    padding: 0;
}

.quiqqer-order-ordering-nobody-tabNav__entry {
    margin-bottom: 1em;
}

.quiqqer-order-ordering-nobody-tabNav__entry > :where(a) {
    display: flex;
    gap: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    outline-offset: -1px;
    color: inherit;
    text-decoration: none;
}

.quiqqer-order-ordering-nobody-tabNav__entry:where(.active) :where(a) {
    outline: 1px solid;
}

.quiqqer-order-ordering-nobody-tabNav__icon {
    width: 1.5em;
    font-size: 1.5em;
}

.quiqqer-order-ordering-nobody-tabNav__label {
    grid-area: title;
}

.quiqqer-order-ordering-nobody-tabNav__title {
    display: block;
    font-weight: bold;
    font-size: 1.125em;
    line-height: 1.25;
}

.quiqqer-order-ordering-nobody-tabNav__desc {
    font-size: 0.915rem;
    opacity: 0.75;
    line-height: 1.5;
}

/* main */
.quiqqer-order-ordering-nobody-tabs__main {
    flex-grow: 1;
}

.quiqqer-order-ordering-nobody-tabs-main__list {
    list-style: none;
    padding: 0;
}

.quiqqer-order-ordering-nobody-tabs-main__item {
    max-width: 360px;
    margin-inline: auto;
}

.quiqqer-order-ordering-nobody-login-text__prefix,
.quiqqer-order-ordering-nobody-registration-text__prefix,
.quiqqer-order-ordering-nobody-guest-text__prefix {
    margin-bottom: 2rem;
}


.quiqqer-order-ordering-nobody-login-text__suffix,
.quiqqer-order-ordering-nobody-registration-text__suffix,
.quiqqer-order-ordering-nobody-guest-text__suffix {
    margin-top: 2rem;
}

/* main: login */
.quiqqer-order-ordering-nobody-tabs-main__item .quiqqer-fu-login {
    margin-top: 0;
    margin-bottom: 0;
}

/* main: signup */
.quiqqer-order-ordering-nobody-tabs-main__item .quiqqer-fu-registrationSignUp {
    margin-top: 0;
    margin-bottom: 0;
}

.quiqqer-order-ordering-nobody-tabs-main__item .quiqqer-fu-registrationSignUp-registration-content {
    padding: 0;
}

.quiqqer-order-ordering-nobody-tabs-main__item .quiqqer-order-ordering-nobody-guestOrder-email button {
    margin-top: 1rem;
}

/* main: guest */
.quiqqer-order-ordering-nobody-tabs-main__item .quiqqer-order-ordering-nobody-guestOrder button {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-ordering-nobody__intro {
        margin-bottom: 3rem;
    }

    .quiqqer-order-ordering-nobody__tabs {
        display: block;
    }

    .quiqqer-order-ordering-nobody-tabs__aside,
    .quiqqer-order-ordering-nobody-tabs__main {
        width: 100%
    }

    .quiqqer-order-ordering-nobody-tabNav {

    }

    .quiqqer-order-ordering-nobody-tabs-main__item {
        display: none;
    }

    .quiqqer-order-ordering form {
        height: initial;
    }

    .quiqqer-order-ordering-nobody-tabNav__entry > :where(a) {
        background: #f8f8f8;
    }

    /* back btn */
    .quiqqer-order-ordering-nobody-tabs-main__btnBack {
        display: inline-block;
        margin-top: 1rem;
    }

    .quiqqer-order-ordering-nobody-tabs-main__btnBack > .fa {
        margin-right: 0.5em;
    }
}
