.quiqqer-order-ordering {
    display: block;
    width: 100%;
}

.quiqqer-order-ordering form {
    height: 100%;
}

.quiqqer-order-ordering-message {
    border: 1px solid #D8D8D8;
    color: #606975;
    clear: both;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.quiqqer-order-ordering-message-error {
    background-color: rgb(255, 249, 242);
    color: rgb(211, 0, 0);
}

.quiqqer-order-ordering-message-success {
    background-color: #D9E6C3;
}

.quiqqer-order-ordering-message-info {
    background-color: #CEE6F2;
}

.quiqqer-order-ordering-error {
    background-color: rgb(255, 249, 242);
    border: 1px solid #D8D8D8;
    clear: both;
    color: rgb(211, 0, 0);
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

/** processing / time line
 ============================================*/

.quiqqer-order-ordering-timeline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    clear: both;
    display: block;
    float: left;
    margin: 0 0 40px !important;
    padding: 0;
    width: 100%;
}

.quiqqer-order-ordering-timeline a {
    text-decoration: none;
}

.quiqqer-order-ordering-timeline li {
    float: left;
    height: 100px;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 16.666%;
}

.quiqqer-order-ordering-timeline li.active {
    background: transparent;
}

.quiqqer-order-ordering-timeline li .fa {
    background: #fff;
    color: #bebebe;
    font-size: 30px;
    left: calc(50% - 15px);
    position: absolute;
    text-align: center;
    top: calc(50% - 10px);
    width: 20px;
    z-index: 2;
}

.quiqqer-order-ordering-timeline li:after {
    background: #bebebe;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: calc(50% + 5px);
    width: 100%;
    z-index: 1;
}

.quiqqer-order-ordering-timeline li:first-child:after {
    left: 50%;
    width: 50%;
}

.quiqqer-order-ordering-timeline li:last-child:after {
    width: 50%;
}

.quiqqer-order-ordering-timeline li.current:after,
.quiqqer-order-ordering-timeline li.active:after {
    background-color: #75b947;
}

.quiqqer-order-ordering-timeline li.current .fa,
.quiqqer-order-ordering-timeline li.active .fa {
    color: #75b947;
}

.quiqqer-order-ordering-timeline li.current:hover a,
.quiqqer-order-ordering-timeline li.active:hover a,
.quiqqer-order-ordering-timeline li.current:hover .fa,
.quiqqer-order-ordering-timeline li.active:hover .fa {
    color: #519f1d;
}

.quiqqer-order-ordering-timeline li.disabled,
.quiqqer-order-ordering-timeline li.disabled a,
.quiqqer-order-ordering-timeline li.disabled span {
    cursor: default;
}

.quiqqer-order-ordering-timeline li.active.disabled:hover a,
.quiqqer-order-ordering-timeline li.active.disabled:hover .fa,
.quiqqer-order-ordering-timeline li.current.disabled:hover a,
.quiqqer-order-ordering-timeline li.current.disabled:hover .fa {
    color: #75b947;
}

.quiqqer-order-ordering-timeline {
    width: 100%;
}

.quiqqer-order-ordering-timeline.disabled,
.quiqqer-order-ordering-timeline.disabled li,
.quiqqer-order-ordering-timeline.disabled a {
    cursor: not-allowed;
    color: #ababab;
}

.quiqqer-order-ordering-timeline.disabled li:after,
.quiqqer-order-ordering-timeline.disabled span.fa {
    opacity: 0.75;
}

/** current step
 ============================================*/

.quiqqer-order-ordering-step {
    clear: both;
    display: block;
    margin-bottom: 20px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

/** step
 ============================================*/

.quiqqer-order-ordering-buttons {
    clear: both;
    display: block;
    float: left;
    margin-top: 0;
    width: 100%;
}

.quiqqer-order-ordering-buttons a {
    float: left;
    text-decoration: none;
}

.quiqqer-order-ordering-buttons-next {
    float: right;
}

@media (max-width: 768px) {
    .quiqqer-order-ordering-timeline {
        margin: 0 0 20px !important;
        overflow: auto;
        padding: 10px 0 0;
        white-space: nowrap;
    }

    .quiqqer-order-ordering-timeline-container {
        float: left;
        height: 70px;
        overflow: hidden;
        width: initial;
    }

    .quiqqer-order-ordering-timeline-container ul {
        padding-left: 0;
    }

    .quiqqer-order-ordering-timeline li {
        display: inline-block;
        float: none;
        height: 70px;
        width: 175px !important;
    }

    .quiqqer-order-ordering-timeline-container li .title {
        font-size: 13px;
    }

    .quiqqer-order-ordering-timeline li .fa {
        font-size: 24px;
        top: calc(50% - 6px);
    }
}

/** nobody login / registration
 ============================================*/
.quiqqer-order-ordering-nobody {
    display: flex;
    width: 100%;
}


.quiqqer-fu-login-container,
.quiqqer-fu-registrationSignUp {
    margin-left: 1rem;
    margin-right: 1rem;
}

.quiqqer-order-ordering-nobody h2 {
    text-align: center;
}

.quiqqer-order-ordering-nobody form {
    height: initial;
}

.quiqqer-order-ordering-nobody-login,
.quiqqer-order-ordering-nobody-registration {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.quiqqer-order-ordering-nobody-login {
    margin-right: 1rem;
}

.quiqqer-order-ordering-nobody-registration {
    margin-left: 1rem;
}

.quiqqer-order-ordering-nobody .quiqqer-fu-registrationSignUp,
.quiqqer-order-ordering-nobody .quiqqer-fu-login {
    margin: 0;
}

.quiqqer-order-ordering-nobody .quiqqer-fu-registrationSignUp-info,
.quiqqer-order-ordering-nobody .quiqqer-fu-registrationSignUp-registration {
    padding: 0;
}

.quiqqer-order-ordering-nobody .quiqqer-fu-login .quiqqer-fu-login-social form {
    height: 50px;
}

.quiqqer-fu-login-email-buttons button,
.quiqqer-fu-registrationSignUp-email-buttons button {
    padding: 0.75rem;
}

.quiqqer-order-ordering-nobody-login-text,
.quiqqer-order-ordering-nobody-registration-text {
    margin-bottom: 2rem
}

.quiqqer-order-ordering-nobody-login-text__suffix,
.quiqqer-order-ordering-nobody-registration-text__suffix {
    margin-top: 2rem;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-ordering-nobody {
        flex-direction: column;
    }

    .quiqqer-fu-login-container,
    .quiqqer-order-ordering-nobody-login,
    .quiqqer-order-ordering-nobody-registration {
        margin-left: 0;
        margin-right: 0;
    }

    .quiqqer-order-ordering-nobody-registration {
    }

    .quiqqer-order-ordering-nobody-login {
        margin-bottom: 1rem;
    }

    .quiqqer-order-ordering-nobody-login,
    .quiqqer-order-ordering-nobody-registration {
        width: 100%;
    }

    .qui-window-popup .quiqqer-order-ordering-nobody-registration {
        margin-bottom: 40px;
    }
}
