.quiqqer-order-ordering {
    display: block;
    width: 100%;
}

.quiqqer-order-ordering form {
    height: 100%;
}

.quiqqer-order-ordering-error {
    background-color: rgb(255, 249, 242);
    border: 1px solid #D8D8D8;
    color: rgb(211, 0, 0);
    clear: both;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

/** processing / time line
 ============================================*/

.quiqqer-order-ordering-timeline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    clear: both;
    display: block;
    float: left;
    margin: 0 0 40px !important;
    padding: 0;
    width: 100%;
}

.quiqqer-order-ordering-timeline a {
    text-decoration: none;
}

.quiqqer-order-ordering-timeline li {
    float: left;
    height: 100px;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 16.666%;
}

.quiqqer-order-ordering-timeline li.active {
    background: transparent;
}

.quiqqer-order-ordering-timeline li .fa {
    color: #bebebe;
    background: #fff;
    font-size: 30px;
    left: calc(50% - 15px);
    text-align: center;
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    z-index: 2;
}

.quiqqer-order-ordering-timeline li:after {
    background: #bebebe;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: calc(50% + 5px);
    width: 100%;
    z-index: 1;
}

.quiqqer-order-ordering-timeline li:first-child:after {
    left: 50%;
    width: 50%;
}

.quiqqer-order-ordering-timeline li:last-child:after {
    width: 50%;
}

.quiqqer-order-ordering-timeline li.current:after,
.quiqqer-order-ordering-timeline li.active:after {
    background-color: #75b947;
}

.quiqqer-order-ordering-timeline li.current .fa,
.quiqqer-order-ordering-timeline li.active .fa {
    color: #75b947;
}

.quiqqer-order-ordering-timeline li.current:hover a,
.quiqqer-order-ordering-timeline li.active:hover a,
.quiqqer-order-ordering-timeline li.current:hover .fa,
.quiqqer-order-ordering-timeline li.active:hover .fa {
    color: #519f1d;
}

.quiqqer-order-ordering-timeline {
    width: 100%;
}

/** current step
 ============================================*/

.quiqqer-order-ordering-step {
    clear: both;
    display: block;
    margin-bottom: 20px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

/** step
 ============================================*/

.quiqqer-order-ordering-buttons {
    clear: both;
    display: block;
    float: left;
    margin-top: 40px;
    width: 100%;
}

.quiqqer-order-ordering-buttons a {
    float: left;
    text-decoration: none;
}

.quiqqer-order-ordering-buttons-next {
    float: right;
}

.quiqqer-order-ordering-buttons-next[value="payableToOrder"] {
    background-color: #75b947;
    color: #fff;
}

.quiqqer-order-ordering-buttons-next[value="payableToOrder"]:hover {
    background-color: #519f1d;
}