/** Total Display
 ================================================= */

.order-total {
    background: #fff;
    border-top: 2px solid #DEDEDE;
    bottom: -20px;
    display: none;
    float: left;
    height: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.order-total header,
.order-total-row {
    clear: both;
    float: left;
    width: 100%;
}

.order-total header > div,
.order-total-row > div {
    float: left;
    line-height: 25px;
    padding: 0 10px;
    text-align: right;
    width: 25%;
}

.order-total-row > div:first-child {
    text-align: left;
}

.order-total-row:nth-child(even) {
    background: #f7f7f7;
}

.order-total-row:hover {
    background: #eaeff4;
}

.monospace {
    font-family: monospace, monospace;
}

/** Order details
 ================================================= */

.orders-order-details {
    float: left;
    margin-bottom: 10px;
    max-width: 800px;
    width: 100%;
}

.orders-order-details h1 {
    display: none;
}

.orders-order-details .articles-article {
    margin-top: 0;
}

.orders-order-details .articles-article-header th {
    background: #dedede;
    line-height: normal;
}

.orders-order-details td {
    background: #fefefe;
    border-right: 0 !important;
}

.orders-order-details .articles-sum td {
    text-align: right;
}

/*.orders-order-details,*/
/*.orders-order-details-header,*/
/*.orders-order-details-article,*/
/*.orders-order-details-calculation {*/
/*float: left;*/
/*width: 100%;*/
/*}*/

/*.orders-order-details-header-pos,*/
/*.orders-order-details-header-articleNo,*/
/*.orders-order-details-header-description,*/
/*.orders-order-details-header-quantity,*/
/*.orders-order-details-header-netto,*/
/*.orders-order-details-header-brutto {*/
/*border-bottom: 1px solid #dedede;*/
/*margin-bottom: 5px !important;*/
/*}*/

/*.orders-order-details-header-pos,*/
/*.orders-order-details-header-articleNo,*/
/*.orders-order-details-header-description,*/
/*.orders-order-details-header-quantity,*/
/*.orders-order-details-header-netto,*/
/*.orders-order-details-header-brutto,*/
/*.orders-order-details-article-pos,*/
/*.orders-order-details-article-articleNo,*/
/*.orders-order-details-article-description,*/
/*.orders-order-details-article-quantity,*/
/*.orders-order-details-article-netto,*/
/*.orders-order-details-article-brutto {*/
/*float: left;*/
/*padding: 0 5px 5px 5px;*/
/*}*/

/*.orders-order-details-article {*/
/*padding: 0 0 5px;*/
/*}*/

/*.orders-order-details-header-pos,*/
/*.orders-order-details-article-pos {*/
/*width: 20px;*/
/*}*/

/*.orders-order-details-header-articleNo,*/
/*.orders-order-details-article-articleNo {*/
/*width: 100px;*/
/*}*/

/*.orders-order-details-header-description,*/
/*.orders-order-details-article-description {*/
/*width: 300px;*/
/*}*/

/*.orders-order-details-article-description .description {*/
/*clear: both;*/
/*display: block;*/
/*}*/

/*.orders-order-details-header-quantity,*/
/*.orders-order-details-article-quantity {*/
/*text-align: right;*/
/*width: 100px;*/
/*}*/

/*.orders-order-details-header-netto,*/
/*.orders-order-details-article-netto,*/
/*.orders-order-details-header-brutto,*/
/*.orders-order-details-article-brutto {*/
/*text-align: right;*/
/*width: 160px;*/
/*}*/

/*.orders-order-details-calculation {*/
/*border-top: 1px solid #DEDEDE;*/
/*padding: 5px 0;*/
/*}*/

/*.orders-order-details-calculation-container {*/
/*text-align: right;*/
/*width: 840px;*/
/*}*/
