/** Total Display
 ================================================= */

.order-total {
    background: #fff;
    border-top: 2px solid #DEDEDE;
    bottom: -20px;
    display: none;
    float: left;
    height: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.order-total header,
.order-total-row {
    clear: both;
    float: left;
    width: 100%;
}

.order-total header > div,
.order-total-row > div {
    float: left;
    line-height: 25px;
    padding: 0 10px;
    text-align: right;
    width: 25%;
}

.order-total-row > div:first-child {
    text-align: left;
}

.order-total-row:nth-child(even) {
    background: #f7f7f7;
}

.order-total-row:hover {
    background: #eaeff4;
}

.monospace {
    font-family: monospace, monospace;
}

.omnigrid .articles-sum td {
    font-size: 12px;
}

.omnigrid .articles-article-unitprice,
.omnigrid .articles-article-price {
    text-align: right;
}

/** Order details
 ================================================= */

.orders-order-details {
    border: 1px solid #DDDDDD;
    float: left;
    margin-bottom: 10px;
    max-width: 800px;
    padding-bottom: 10px;
    width: 100%;
}

.orders-order-details h1 {
    display: none;
}

.orders-order-details .articles-article {
    margin-top: 0;
}

.orders-order-details .articles-article-header th {
    background: #dedede;
    line-height: normal;
}

.orders-order-details td {
    background: #fefefe;
    border-right: 0 !important;
}

.orders-order-details .articles-sum td {
    text-align: right;
}

.order-data-status-field {
    display: flex;
}

.order-data-status-field-colorPreview {
    width: 40px;
}

.order-data-status-field-select {
    flex-grow: 1;
}

.order-data-status-field-select:disabled {
    border: none;
}