.quiqqer-order-profile-orders,
.quiqqer-order-profile-orders-list {
    float: left;
    width: 100%;
}

/** One Order
 =============================================== */

.quiqqer-order-profile-orders-order {
    border: 1px #ddd solid;
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.quiqqer-order-profile-orders-order header {
    background: #f6f6f6;
    border-bottom: 1px #ddd solid;
    float: left;
    padding: 10px;
    width: 100%;
}

.quiqqer-order-profile-orders-order-header-date,
.quiqqer-order-profile-orders-order-header-total,
.quiqqer-order-profile-orders-order-header-addressInvoice,
.quiqqer-order-profile-orders-order-header-addressDelivery {
    float: left;
    position: relative;
    width: 25%;
}

.quiqqer-order-profile-orders-order-header-date span,
.quiqqer-order-profile-orders-order-header-total span,
.quiqqer-order-profile-orders-order-header-addressInvoice span,
.quiqqer-order-profile-orders-order-header-addressDelivery span {
    clear: both;
    float: left;
}

.quiqqer-order-profile-orders-order-header-addressInvoice {
    cursor: pointer;
}

.quiqqer-order-profile-orders-order-header-addressInvoice address {
    cursor: default;
    display: none;
    background: #ffffff;
    border: 1px #ddd solid;
    left: 0;
    top: 35px;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.quiqqer-order-profile-orders-order-header-addressInvoice:hover address {
    display: inline-block;
}

.quiqqer-order-profile-orders-order-header-addressInvoice span {
    text-align: left;
}

.quiqqer-order-profile-orders-order-articles {
    float: left;
    padding: 10px;
    width: 100%;
}

.quiqqer-order-profile-orders-order-articles-article {
    float: left;
    width: 100%;
}

.quiqqer-order-profile-orders-order-articles-information {
    padding-top: 10px;
}

.quiqqer-order-profile-orders-order-articles-image {
    float: left;
    margin-right: 10px;
}

.quiqqer-order-profile-orders-order-articles-description {
    margin: 5px 0;
}

.quiqqer-order-profile-orders-order-footer-paymentType {
    margin-top: 10px;
}

.quiqqer-order-profile-orders-order footer {
    background: #f6f6f6;
    border-top: 1px #ddd solid;
    float: left;
    padding: 10px;
    width: 100%;
}

/** Pagination
 =============================================== */

.quiqqer-order-profile-orders-pagination {
    float: left;
    width: 100%;
}

.quiqqer-order-profile-orders-pagination .quiqqer-pagination {
    text-align: right;
}

@media (max-width: 768px) {
    .quiqqer-order-profile-orders-order-header-date,
    .quiqqer-order-profile-orders-order-header-total,
    .quiqqer-order-profile-orders-order-header-addressInvoice,
    .quiqqer-order-profile-orders-order-header-addressDelivery {
        width: 100%;
    }

    .quiqqer-order-profile-orders-order-header-orderId {
        float: left;
        margin-top: 10px;
        width: 100%;
    }

    .quiqqer-order-profile-orders-order-header-date > span,
    .quiqqer-order-profile-orders-order-header-total > span,
    .quiqqer-order-profile-orders-order-header-orderId > span,
    .quiqqer-order-profile-orders-order-header-orderId > a,
    .quiqqer-order-profile-orders-order-header-addressInvoice > span {
        clear: none;
        float: left;
        width: 50%;
    }

    .quiqqer-order-profile-orders-order-header-addressInvoice address {
        top: 40px !important;
    }

    .quiqqer-order-profile-orders .quiqqer-order-profile-orders-pagination:first-child {
        margin-bottom: 20px;
    }
}